<!DOCTYPE html>

<html>
  <head>
  <!-- Hier zet je eventuele .css info, external java libraries, etc -->
    <title>BEBO declaraties</title>  
    <style>
      h1 {
        font-family: arial, helvetica, serif;
        font-size: 40px;
      }
  
     #banner1 {
      width: 70%;
      height: 100px; 
      
       border: solid;
     }
      
    </style>
  </head>
  <body>
  <img id="banner1" src="static/banner_money_tree.jpeg">
    <h1>BEBO declaraties</h1>
  
  
      <h2>Waarom?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Vitae et leo duis ut diam quam. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Orci dapibus ultrices in iaculis nunc sed augue lacus. In massa tempor nec feugiat nisl pretium fusce id velit. Amet consectetur adipiscing elit pellentesque. Posuere lorem ipsum dolor sit amet. Ornare lectus sit amet est placerat in egestas.</p>
  
      <h2>Wanneer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Vitae et leo duis ut diam quam. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Orci dapibus ultrices in iaculis nunc sed augue lacus. In massa tempor nec feugiat nisl pretium fusce id velit. Amet consectetur adipiscing elit pellentesque. Posuere lorem ipsum dolor sit amet. Ornare lectus sit amet est placerat in egestas.</p>
  <p>💔</p>
    <button>Druk dan!</button>
  </body>
  </html>